<% render%>
<h1>社内Trello</h1>

  <div class='main'>
    <div class="main2">
      <h2>
        社内情報の共有サイトです。
      </h2>
    </div>
  </div>

<%= link_to '投稿ページへ', new_tweet_path, class: "" %>

  <div　class="tweet-contents">
    <h2>
    ここに新着(更新)順で表示されます
    </h2>

    <% @tweet.each do |tweet| %>
      <div class="new-link">
        <%= tweet.title %>
        <p><%= tweet.text %></p>
        <p><%= tweet.genre.name %></p>
      </div>
      <p><%= link_to '詳細ページへ', tweet_path(tweet.id), class: "" %></p>
    <% end %> 
  </div>






<p>フッター</p>
