<%= render "shared/header" %>

<div class="top-image">
</div>

<div class="main">
  <div class="wrapper">
  </div>

  <div class="center">
    <div class="tweet-contents">
      <div class="top-title">
        <h4 class="toukou">新着投稿</h4>
      </div>
      <div class="new-info" >
        <% @tweet2.each do |t| %>
          <%= link_to tweet_path(t.id), class: "link" do %> 
            <div class="new-tweet" >
              <div class="t-updated_at" >
                <%= t.updated_at.strftime("%Y年%m月%d日") %>
              </div>
              <div class="t-title" >
                <span style="color:red"><%= "new!!" %></span><%= "　　" %><%= t.title %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

  </div>

  <div class="container">
  </div>
</div>

<%= render "shared/footer"%>