<%= render "shared/header" %>
<div class="main">
  <div class="wrapper">
  </div>

  <div class="center">
    <div class="top-image">
    </div>
    <div class="title">
      <%= link_to new_tweet_path, class: "post-link" do %>  
      <% end %>
    </div>
    
    <div class="tweet-contents">
      <%= link_to '投稿', new_tweet_path %>
      <div class="top-title">
        最新投稿
      </div>
      <div class="new-info" >
        <% @tweet2.each do |t| %>
            <%= link_to tweet_path(t.id), class: "link" do %> 
              <ul class="new-tweet" >
                <li class="t-title" >
                  <%= t.title %>
                </li>
                <div class="t-updated_at" >
                  <%= t.updated_at.strftime("%Y-%m-%d %H:%M") %>
                </div>
              </ul>
            <% end %>
        <% end %>
      </div>
    </div>

  </div>

  <div class="container">
  </div>
</div>

<%= render "shared/footer"%>