<%= render "shared/header" %>
<div class="wrapper">
</div>
<div class="new-center">
  <div class="tweet-post">
    <h2>
      共有事項を入力してください。<br>
      タイトル・本文は必ず入力してください。
    </h2>
    <%= form_with model: @tweet, local: true do |f| %>
        <div class="new-edit-form">
          <div class="post-field">
            <%= "タイトル"  %>
            <p><%= f.text_field :title, id:"" %></p>
          </div>
          <div class="post-field">
            <%= "本文" %>
            <p><%= f.text_area :text, :size=>"80x10",  class:"", maxlength: "6" %></p>
          </div>
          <div class="post-field">
            <%= "画像（任意）"  %>
            <p><%= f.file_field :image, class:"new-image" %></p>
          </div>
          <div class="post-field">
            <%= "関連タグ付け（任意）" %>
            <p><%= f.text_field :tag_name, placeholder: " 複数個の場合は半角スペースをあけて入力", class:"" %></p>
          <div class="under-flex">

          <%= f.submit '投稿する', :size => "30*40", class: "post-btn" %>

          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="container">
</div>

<div class="footer">
</div>