<%= render "shared/header" %>
<div class="wrapper">
</div>

<div class="center">

<%= "タグリスト" %><br>
<% @tag_list.each do |list| %>
  <%= link_to list.tag_name, tag_posts_path(tag_id: list.id) %>
  <%= "(#{list.tweets.count})" %>
<% end %>
  <div class="tweet-top" >
    ○お知らせ
  </div>
  <div class="tweet-block">

  <% if @tweets.nil? %>
    <div class="new-link">
      <div class="tweet-title" >
        <%= "ツイートを投稿しよう！" %>
      </div>
      <div class="tweet-text">
        <%= "ここに内容が表示されます！" %>
      </div>
      <div class="tweet-day">
      </div>
    </div>
  <% else %>
    <% @tweets.each do |tweet| %>
      <%= link_to  tweet_path(tweet.id), class: "show-btn" do %>
        <div class="new-link">
          <div class="tweet-title" >
            <%= tweet.title %>
          </div>
          <div class="tweet-text">
            <%= tweet.text %>
          </div>
          <div class="tweet-day">
            <%= "更新日：" %><%= tweet.updated_at.strftime("%Y-%m-%d %H:%M") %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
  </div>
</div>


<%= render "shared/footer"%>