<%= render "shared/header" %>
<div class="wrapper">
</div>





<div class="center">

<%= "タグリスト" %><br>
<% @tag_list.each do |list| %>
  <%= link_to list.tag_name, tag_posts_path(tag_id: list.id) %>
  <%= "(#{list.tweets.count})" %>
<% end %>


投稿一覧

<%# <% @tweets.each do |tweet| %> %>
<%# <%= link_to tweet.content, tweet %> %>
<%# <% end %> %>

  <div class="tweet-top" >
    ○投稿一覧
  </div>
  <div class="tweet-block">
    <% @tweets.each do |tweet| %>
      <%= link_to  tweet_path(tweet.id), class: "show-btn" do %>
        <div class="new-link">
          <div class="tweet-title" >
            <%= tweet.title %>
          </div>
          <div class="tweet-genre">
            <p><%= "ジャンル：" %><%= tweet.genre.name %></p>
          </div>
          <div class="tweet-text">
            <%= tweet.text %>
          </div>
          <div class="tweet-day">
            <%= "更新日：" %><%= tweet.updated_at.strftime("%Y-%m-%d %H:%M") %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


<%= render "shared/footer"%>