<%= render "shared/header" %>
<div class="wrapper">
</div>

<div class="center">
  <% @tag_list.each do |list| %>
    <%= link_to list.tag_name, tag_posts_path(tag_id: list.id), class: "tag_lists" %>
    <%= "(#{list.tweets.count})" %>
  <% end %>

  <%= "-----------------------------------------" %><br>

  <%= "タグが ─ " %>
  <%= strong= "#{@tag.tag_name}" %>
  <%= " ─ の投稿一覧" %><br>

  <%= "-----------------------------------------" %><br>

  <% @tweets.each do |tweet| %>
    <%= link_to tweet.title, tweet %>
    <%= link_to 'ホーム', root_path %>

    <% if Check.exists?(user_id: current_user.id, tweet_id: tweet.id) %>
      <div class="old-link">
        <div id="tweet-title" class="tweet-title" >
          <%= tweet.title %>
        </div>
        <div class="tweet-text">
          <%= tweet.text %>
        </div>
        <div class="tweet-under">
          <div class="poster">
            <%= "投稿者：" %><%= tweet.user.username %>
          </div>
          <div class="tweet-day">
            <%= "更新日：" %><%= tweet.updated_at.strftime("%Y-%m-%d %H:%M") %>
          </div>
        </div>
        <div class="right-tweet">
          <%= image_tag tweet.image, class: "tweet-image" %>
        </div>
      </div>
    <% else %>
      <div class="new-link">
        <div id="tweet-title" class="tweet-title" >
          <%= tweet.title %>
        </div>
        <div class="tweet-text">
          <%= tweet.text %>
        </div>
        <div class="tweet-under">
          <div class="poster">
            <%= "投稿者：" %><%= tweet.user.username %>
          </div>
          <div class="tweet-day">
            <%= "更新日：" %><%= tweet.updated_at.strftime("%Y-%m-%d %H:%M") %>
          </div>
        </div>
        <div class="right-tweet">
          <%= image_tag tweet.image, class: "tweet-image" %>
        </div>
      </div>
    <% end %>
    </div>
  <% end %>
</div>

<%= render "shared/footer"%>