<%= render "shared/header" %>

<div class="show-main">
  <div class="wrapper">
  </div>

  <div class="show-center">
    <div class="tweet-link">
      <div class="show-tweet-title" >
        <%= "タイトル："%><%= @tweet.title %>
      </div>
      <div class="show-tweet-genre">
        <p><%= "ジャンル："%><%= @tweet.genre.name %></p>
      </div>
      <div class="show-tweet-text">
        <p><%= "内容：" %><%= @tweet.text %></p>
      </div>
    </div>
  </div>

  <div class="container">
  </div>
</div>

<%= render "shared/footer" %>