<%= render "shared/header" %>

<div class="show-main">
  <div class="wrapper">
  </div>

  <div class="show-center">
    <div class="tweet-show-news">
      お知らせ
    </div>
    <div class="show-block">
      <div class="tweet-link">
        <div class="show-tweet-title" >
          <%= @tweet.title %>
        </div>
        <div class="show-left-brock">
          <div class="show-tweet-main">
            <div class="show-tweet-text" >
              <%= @tweet.text %>
            </div>
            <div class="show-tweet-genre">
              <p><%= "ジャンル："%><%= @tweet.genre.name %></p>
            </div>
            <div class="edit-btn">
              <%= link_to "内容修正",edit_tweet_path(@tweet) %>
              <%= link_to "追記・変更", edit_tweet_path(@tweet) %>
              <%= link_to "削除",tweet_path(@tweet), method: :delete %>
            </div>
          </div>
          <div class="show-tweet-image">
            <%= image_tag @tweet.image, class: "show-image"%> 
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
  </div>
</div>

<%= render "shared/footer" %>