<%= render "shared/header" %>

<div class="show-main">
  <div class="wrapper">
  </div>

  <div class="show-center">
    <div class="tweet-show-news">
      お知らせ
    </div>
    <div class="show-block">
      <div class="show-tweet-title" >
        <%= @tweet.title %>
      </div>
      <div class="show-tweet-main">
        <div class="show-tweet-text" >
          <%= @tweet.text %>
        </div>
        <div class="show-tweet-image">
          <%= image_tag @tweet.image, class: "show-image"%> 
        </div>
      </div>
      <div class="show-tweet-poster">
        <p><%= "投稿者："%><%= @tweet.user.username %></p>
      </div>
      <div class="edit-btn">
        <%= link_to "追記・変更", edit_tweet_path(@tweet) %>
        <%= link_to "削除",tweet_path(@tweet), method: :delete %>
      </div>
    </div>
      <%= link_to "戻る", :back %>
  </div>

  <div class="container">
  </div>
</div>

<%= render "shared/footer" %>