<header>
  <div class="wrapper">
  </div>

  <div class="center">
    <div class="header-head">
      <%= link_to root_path do %>
        <div class="main-title">
          <%= link_to ' 守口市民体育館 ', root_path, class: "header-title" %><br>
          <%= link_to ' moriguchi citizen gymnasium', root_path, class: "header-title-lb" %>
        </div>
      <% end %>
      <% if user_signed_in? %>
        <div class="header-username">
          <%= "こんにちは、" %><%= link_to current_user.username, "#", class: "header-name-link" %><%= "さん！" %>
        </div>
      <% end %>
    </div>
    <div class="header-list">
      <%= link_to "- 共有 -", post_tweets_path , id: "header-btn", class: "text" %>
      <%= link_to "- シフト調整 -", "#" , id: "header-btn", class: "text" %>
      <%= link_to "- 職員登録 -", top_tweets_path, id: "header-btn", class: "text" %>
      <%= link_to "- Text4 -", "#" , id: "header-btn", class: "text" %>
    </div>
  </div>

  <div class="container">
  </div>
</header>