<header>
  <div class="header-main">
    <%= link_to "- Top -", "#" ,class: "text" %>
    <%= link_to "- Curriculum -", "#" ,class: "text" %>
    <%= link_to '- Myapp -', root_path, class: "header-title" %>
    <%= link_to "- Text3 -", "tweets/top" ,class: "text" %>
    <%= link_to "- Text4 -", "#" ,class: "text" %>
  </div>
</header>