<header>
  <div class="wrapper">
  </div>

  <div class="center">
    <%= link_to root_path do %>
      <div class="main-title">
        <%= link_to ' 守口市民体育館 ', root_path, class: "header-title" %><br>
        <%= link_to ' moriguchi citizen gymnasium', root_path, class: "header-title-lb" %>
      </div>
    <% end %>
    <div class="header-list">
      <%= link_to "- 共有 -", post_tweets_path ,class: "text" %>
      <%= link_to "- シフト調整 -", "#" ,class: "text" %>
      <%= link_to "- 職員登録 -", top_tweets_path,class: "text" %>
      <%= link_to "- Text4 -", "#" ,class: "text" %>
    </div>
  </div>

  <div class="container">
  </div>
</header>